* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
img {
    max-width: 100%;
}
/*Debug*/
header.bg-color {
    background-color: #255EE9;
    height: 80px;
    padding-top: 20px;
}

footer.debug {
    background-color: #23272A;
    height: 80px;
    padding-top: 20px;
    
}
/*HEADER*/
.container-header {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    font-size: 1.2m;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-items {
    font-size: 0.9em;
}
.logo-link {
    text-decoration: none;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}
.class25 {
    width: 25%;
}
.class50{
    width: 50%;
    text-align: center;
}
.align-right {
    text-align: right;
}
.gen-button {
    background-color:white;
    border: 0px;
    width: 55px;
    height: 25px;
    font-size: 0.7em;
    border-radius: 15px;
    
}
.button-link {
    text-decoration: none;
    color: black;
}
/*main*/
.container-section1 {
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 600px;
}
.mac-download {
    text-decoration: none;
    color: black;
    border: 0px;
    width: 150px;
    height: 50px;
    font-size: 0.9em;
    border-radius: 25px;
    font-weight: bold;
}
.discord-button-link {
    background-color: #23272A;
    text-decoration: none;
    border: 0px;
    width: 250px;
    height: 50px;
    font-size: 0.9em;
    border-radius: 25px;
    font-weight: bold;
}
.button-link-black {
    text-decoration: none;
    color: white;
}
.button-container {
    padding-top: 15px;
    padding-right: 10px;
}
 
.container-section2 {
    background-color: white;
    min-height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1000px;
    display: flex;
    margin: auto;
    
}
.container-section3 {
    background-color: #D3D3D3;
    min-height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 1000px;
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
}
.container-section4 {
    background-color: white;
    min-height: 450px;
    padding-top: 50px;
    padding-bottom: 50px;
    max-width: 1000px;
    display: flex;
    margin: auto;
} 
.container-section5 {
    background-color: #D3D3D3;
    padding-top: 50px;
    padding-bottom: 50px;
}   
.container-section6 {
    background-color: #23272A;
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 2px solid white;
}

.container-box {
    display: flex;
}
.container-footer {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    font-size: 1.2m;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #7FFFD4;
    
}   
.footer-items {
    background-color: #FFB6C1;
    border: 2px dashed black;
   
}
/*boxes*/
.description {
    max-width: 70%;
    height: 550px;
    margin: auto;
    text-align: center;
    color: white;
}
.description > h2 {
    padding-top: 80px;
    padding-bottom: 30px;
    font-size: 2.5em;
}
.description > p {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1.3em;
}

.light-pink-box {
    min-width: 400px;
    height: 400px;
    align-items: center;
}
.light-blue-box {
    min-width: 600px;
    height: 400px;
    align-items: center;
}
.light-pink-box > h2 {
    font-size: 2.4em;
    padding-top: 25px;
    padding-bottom: 30px;
}
.light-pink-box > p {
    font-size: 1.1em;
    padding-top: 5px;
}
.green-box {
    width: 1000px;
    height: 700px;
    background-color: #228B22;
    margin: auto;
    border: 2px dashed black;
}
.container-box {
    width: 1000px;
    max-height: 550px;
    margin: auto;
}   

.red-box {
    height: 450px;
    width: 350px;
    background-color: #F08080;
    border: 2px dashed black;
    margin-top: -30px;

}
.aqua-box {
    height: 450px;
    width: calc(650px / 4);
    background-color: #20B2AA;
    border: 2px dashed white;
    margin-top: -30px;

}